### In this file, I just want to add some feature columns to the data that could be useful in our analysis in the future: 
1. Day of week
1. Time of day (Morning, Afternoon, Evening, Late)
1. Create a better column that represents the actual number of entries (Difficult!!)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df_raw = pd.read_csv('Turnstile_Usage_Data__2018.csv')
df_raw.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,R232A,R176,03-06-00,33 ST,6,IRT,12/23/2017,20:00:00,REGULAR,102417472,68072550
1,R409,R449,01-00-02,E 149 ST,6,IRT,12/23/2017,08:00:00,REGULAR,1985376,6042304
2,R256,R182,00-00-02,116 ST,6,IRT,12/23/2017,04:00:00,REGULAR,765700,471312
3,R246,R177,00-03-02,68ST-HUNTER CO,6,IRT,12/23/2017,20:00:00,REGULAR,14882041,10581878
4,R227,R131,00-00-05,23 ST,6,IRT,12/23/2017,08:00:00,REGULAR,1524615,537740

In [24]:
df_working = df_raw.copy()

### Add a weekday Column

In [26]:
def Add_Weekday(data_frame, column):
    dmap = {0:'Mon', 1: 'Tue', 2: 'Wed', 3:'Thu', 4:'Fri', 5:'Sat', 6:'Sun'}
    #Convert column to date
    data_frame[column] = pd.to_datetime(data_frame[column])
    #Add column which shows the Weekday in integer
    data_frame['Day_Number'] = data_frame[column].apply(lambda x: x.dayofweek)
    #Add column which shows the Weekday in words
    data_frame['Weekday'] = data_frame['Day_Number'].map(dmap)
    return data_frame

In [27]:
df_working = Add_Weekday(df_working, 'Date')

In [32]:
df_working.sample(20)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Day_Number,Weekday
248552,R232,R176,02-00-02,33 ST,6,IRT,2018-05-27,21:00:00,REGULAR,4847923,5532647,6,Sun
408952,R243,R049,00-00-00,51 ST,6,IRT,2018-09-08,20:00:00,REGULAR,5241953,23777674,5,Sat
484273,R227A,R131,01-00-01,23 ST,6,IRT,2018-10-25,13:00:00,REGULAR,4893802,1949813,3,Thu
172141,R247,R178,01-00-00,77 ST,6,IRT,2018-04-11,09:00:00,REGULAR,2059553,9148406,2,Wed
453443,R226A,R131,03-06-01,23 ST,6,IRT,2018-10-06,01:00:00,REGULAR,2271659,2227850,5,Sat
241913,R243,R049,00-00-01,51 ST,6,IRT,2018-05-23,08:00:00,REGULAR,806121,1222672,2,Wed
379418,OB01,R459,00-00-00,ORCHARD BEACH,6,IND,2018-08-13,08:00:00,REGULAR,396846,23355,0,Mon
380710,R417,R222,00-03-02,PARKCHESTER,6,IRT,2018-08-14,05:00:00,REGULAR,467230,5140294,1,Tue
140044,R423,R429,00-03-01,PELHAM BAY PARK,6,IRT,2018-03-23,12:00:00,REGULAR,16264031,9495337,4,Fri
112291,R219,R160,00-00-00,ASTOR PL,6,IRT,2018-02-27,20:00:00,REGULAR,3870845,3826680,1,Tue
131786,R423,R429,00-00-00,PELHAM BAY PARK,6,IRT,2018-03-18,08:00:00,REGULAR,646641,836629,6,Sun
204403,R242,R049,01-03-03,51 ST,6,IRT,2018-04-30,16:00:00,REGULAR,5286539,3870674,0,Mon
30210,R418,R106,00-03-01,CASTLE HILL AV,6,IRT,2018-01-09,03:00:00,REGULAR,1825717,444718,1,Tue
38753,R419,R326,00-00-01,ZEREGA AV,6,IRT,2018-01-14,16:00:00,REGULAR,288095,457817,6,Sun
42959,R251,R144,00-03-01,96 ST,6,IRT,2018-01-17,12:00:00,REGULAR,1881356,248248,2,Wed
100696,R226A,R131,03-06-00,23 ST,6,IRT,2018-02-20,00:00:00,REGULAR,35017832,20028181,1,Tue
313974,R423,R429,00-03-01,PELHAM BAY PARK,6,IRT,2018-07-04,00:00:00,REGULAR,16535971,9588387,2,Wed
574970,R409,R449,01-00-02,E 149 ST,6,IRT,2018-12-25,04:00:00,REGULAR,2100507,6483421,1,Tue
381988,R408,R449,00-00-02,E 149 ST,6,IRT,2018-08-15,13:00:00,REGULAR,4901707,2802556,2,Wed
250390,R409,R449,01-00-02,E 149 ST,6,IRT,2018-05-28,17:00:00,REGULAR,2031361,6219374,0,Mon

### Figure out Time of Day

In [34]:
print(type(df_working['Time'][0]))
print(df_working['Time'].unique()) #There are several times of day present

<class 'str'>
['20:00:00' '08:00:00' '04:00:00' '00:00:00' '23:00:00' '15:00:00'
 '16:00:00' '12:00:00' '11:00:00' '19:00:00' '03:00:00' '07:00:00'
 '10:12:34' '08:20:43' '08:20:37' '10:12:53' '10:12:57' '07:56:33'
 '10:21:42' '07:56:10' '08:24:45' '10:45:04' '08:24:40' '07:56:22'
 '08:24:30' '07:56:28' '09:50:17' '11:23:21' '15:54:39' '15:45:54'
 '15:17:58' '14:56:30' '09:21:39' '15:52:23' '15:49:59' '15:56:37'
 '15:51:19' '15:56:20' '11:20:59' '15:57:57' '15:53:01' '15:51:35'
 '15:52:30' '11:21:56' '15:51:10' '15:53:45' '15:52:13' '15:54:21'
 '11:20:32' '15:17:52' '11:20:53' '09:21:00' '15:50:37' '15:48:39'
 '15:47:14' '15:50:15' '15:51:57' '15:54:57' '15:19:21' '15:59:17'
 '15:53:18' '11:23:15' '15:49:46' '14:56:05' '15:47:05' '09:21:04'
 '11:23:18' '15:17:56' '11:20:50' '14:57:30' '11:24:45' '15:53:33'
 '14:56:07' '15:51:03' '15:55:16' '15:50:53' '15:45:44' '15:48:25'
 '14:19:00' '08:44:17' '08:57:34' '14:10:13' '14:20:26' '08:57:36'
 '08:35:03' '08:57:48' '12:30:21' '14:20:35' '14:20:41' '08:57:40'
 '14:17:35' '09:07:45' '07:41:07' '08:28:03' '10:24:57' '08:24:56'
 '08:28:59' '08:26:44' '08:25:22' '07:38:00' '09:28:06' '08:29:28'
 '10:25:01' '07:38:03' '07:40:51' '09:28:08' '09:06:50' '09:06:47'
 '07:42:23' '07:40:55' '09:28:02' '08:23:34' '08:26:18' '10:46:21'
 '07:40:48' '08:27:39' '10:25:06' '09:08:22' '09:06:43' '07:41:12'
 '09:07:50' '09:46:37' '06:26:07' '08:40:48' '08:20:18' '06:24:46'
 '09:45:29' '09:45:33' '09:10:59' '06:27:27' '09:46:40' '09:11:59'
 '09:09:38' '08:14:54' '09:10:55' '09:12:02' '06:43:32' '09:19:41'
 '08:47:57' '08:27:33' '09:19:06' '08:11:43' '08:47:16' '08:11:36'
 '06:40:48' '08:27:27' '08:27:36' '06:39:28' '06:42:11' '09:18:17'
 '06:44:52' '08:11:45' '06:22:33' '09:05:34' '06:21:12' '06:26:39'
 '09:05:49' '06:25:19' '06:23:58' '06:19:52' '06:48:25' '06:29:28'
 '06:26:26' '06:47:04' '06:28:05' '06:45:43' '08:06:49' '08:06:51'
 '08:07:02' '06:30:17' '06:31:38' '08:43:28' '08:43:04' '11:49:33'
 '08:07:39' '07:59:31' '10:18:37' '06:56:48' '08:07:37' '06:57:23'
 '10:10:06' '08:56:49' '08:56:44' '09:11:02' '10:10:15' '08:07:33'
 '10:18:45' '07:59:01' '07:59:18' '08:56:57' '09:11:04' '08:56:28'
 '08:07:28' '10:16:50' '06:57:50' '08:07:03' '09:10:41' '09:10:54'
 '07:59:23' '07:59:28' '08:56:55' '08:52:02' '08:18:24' '14:23:19'
 '11:17:01' '10:55:10' '09:02:33' '10:44:16' '11:12:57' '10:39:37'
 '10:45:41' '08:34:41' '06:46:04' '06:44:44' '09:39:44' '09:38:21'
 '09:41:04' '09:36:59' '09:37:10' '14:47:06' '09:52:12' '14:44:25'
 '09:52:29' '14:44:22' '08:26:45' '08:17:51' '10:17:52' '06:27:00'
 '06:26:22' '08:38:28' '08:38:30' '08:14:32' '08:15:28' '08:15:21'
 '08:14:44' '08:14:37' '07:45:36' '09:54:14' '08:58:28' '09:53:56'
 '08:58:12' '08:58:21' '07:45:01' '07:45:13' '09:42:28' '07:45:06'
 '08:58:48' '09:42:22' '10:18:11' '08:59:36' '11:00:57' '09:37:19'
 '09:54:39' '09:12:29' '08:48:08' '08:48:02' '12:24:07' '09:54:41'
 '08:00:09' '11:53:03' '11:53:08' '12:01:37' '10:34:58' '07:55:02'
 '10:34:46' '08:04:40' '12:01:49' '08:57:47' '19:39:42' '16:30:48'
 '09:04:36' '11:08:32' '16:01:33' '16:05:47' '16:05:56' '08:02:05'
 '08:10:52' '07:45:58' '07:46:03' '07:58:36' '08:51:52' '07:42:38'
 '13:55:52' '08:51:57' '08:53:02' '08:53:10' '08:16:28' '08:16:24'
 '08:51:59' '08:17:56' '08:16:16' '08:18:10' '07:42:30' '14:28:46'
 '14:53:56' '08:46:30' '09:16:03' '09:04:41' '11:14:22' '09:15:58'
 '11:14:18' '08:48:40' '08:48:30' '08:02:30' '08:50:18' '08:11:22'
 '08:18:42' '07:46:28' '07:46:32' '07:46:36' '11:19:57' '11:20:00'
 '12:10:13' '12:11:59' '12:10:17' '01:00:00' '21:00:00' '13:00:00'
 '05:00:00' '09:00:00' '17:00:00' '05:00:01' '19:57:19' '06:31:28'
 '06:26:45' '17:29:28' '13:01:09' '07:38:48' '07:41:23' '07:52:10'
 '07:49:24' '07:44:03' '07:36:02' '07:46:43' '07:40:03' '07:37:22'
 '07:45:23' '07:42:46' '07:50:44' '07:48:03' '07:53:30' '07:34:52'
 '14:06:49' '14:10:51' '13:30:45' '04:53:36' '04:54:44' '04:58:57'
 '04:50:15' '04:49:03' '04:44:38' '04:45:43' '05:01:40' '04:51:22'
 '04:47:57' '04:57:26' '04:47:39' '04:56:05' '05:03:05' '04:46:55'
 '05:00:18' '04:52:25' '22:29:38' '04:44:17' '22:30:59' '06:40:15'
 '09:23:12' '09:04:46' '09:19:01' '09:03:08' '09:20:23' '09:21:50'
 '04:41:54' '04:46:08' '04:43:25' '04:42:05' '04:44:37' '04:44:36'
 '04:44:34' '08:33:41' '09:52:28' '20:07:47' '20:09:07' '20:06:26'
 '07:40:32' '07:39:02' '06:51:07' '21:03:12' '21:27:13' '21:04:32'
 '21:17:53' '20:31:12' '20:59:12' '20:45:52' '21:25:53' '21:01:52'
 '21:12:33' '20:53:52' '21:28:33' '20:51:12' '21:20:33' '21:13:53'
 '20:55:12' '21:11:13' '20:39:12' '20:52:32' '20:35:12' '20:56:32'
 '21:21:53' '21:23:13' '21:16:33' '21:08:32' '20:41:52' '21:24:33'
 '20:43:12' '21:15:13' '20:37:52' '20:32:32' '21:19:13' '20:36:32'
 '20:44:32' '20:40:32' '20:57:52' '20:48:32' '21:00:32' '20:29:53'
 '20:49:52' '21:09:52' '21:07:12' '21:05:52' '20:33:52' '20:47:12'
 '04:32:00' '06:43:42' '06:47:47' '06:45:06' '06:42:21' '06:46:27'
 '07:55:13' '07:13:38' '12:48:45' '15:12:02' '12:51:25' '15:07:59'
 '15:09:05' '12:50:05' '12:52:45' '12:44:45' '15:10:33' '12:46:05'
 '12:47:27' '18:44:59' '19:15:40' '18:55:41' '19:02:19' '19:27:41'
 '19:03:40' '19:17:00' '18:59:43' '18:52:59' '19:07:40' '19:21:00'
 '19:11:40' '19:05:02' '19:06:20' '19:23:40' '19:26:20' '19:18:22'
 '19:25:00' '19:13:00' '19:09:00' '18:51:39' '18:54:19' '18:58:20'
 '19:19:40' '18:48:59' '18:56:59' '18:47:39' '19:14:20' '18:46:19'
 '18:50:19' '19:10:20' '19:22:20' '19:01:00' '09:42:35' '11:11:03'
 '11:13:34' '11:12:19' '11:09:25' '11:15:12' '15:43:59' '08:54:05'
 '13:24:17' '13:05:29' '13:06:49' '15:21:58' '15:20:45' '15:15:27'
 '15:16:29' '15:14:26' '15:17:30' '15:18:31' '15:24:49' '15:19:40'
 '15:13:21' '15:23:26' '06:56:36' '06:57:55' '09:34:19' '09:51:10'
 '09:37:48' '09:47:08' '09:49:49' '09:36:42' '09:41:40' '09:55:15'
 '09:56:39' '09:53:51' '09:48:29' '09:45:46' '09:35:35' '09:44:23'
 '09:52:32' '09:58:01' '09:59:19' '09:39:00' '09:40:19' '09:43:02'
 '09:00:07' '08:30:44' '10:23:13' '08:58:11' '10:24:48' '08:33:08'
 '08:29:50' '08:30:46' '08:59:30' '08:33:16' '09:01:35' '10:23:03'
 '09:01:32' '09:01:04' '09:07:34' '07:54:26' '07:33:06' '09:08:41'
 '09:47:50' '09:47:10' '08:10:27' '07:53:46' '08:10:48' '08:09:18'
 '08:12:06' '07:42:17' '08:09:11' '08:11:02' '08:12:10' '07:42:07'
 '21:09:08' '16:31:36' '15:59:50' '16:01:05' '15:57:37' '11:06:43'
 '11:05:55' '10:55:13' '10:55:15' '11:06:07' '07:43:32' '07:42:57'
 '08:31:58' '07:35:30' '08:32:15' '08:15:39' '08:23:35' '09:01:49'
 '08:22:11' '08:19:48' '09:00:23' '08:24:59' '09:03:10' '08:59:13'
 '12:34:16' '08:19:59' '07:49:07' '08:18:36' '07:56:03' '12:36:39'
 '12:35:39' '07:55:58' '07:57:32' '14:50:03' '07:57:27' '14:49:59'
 '07:53:43' '14:49:55' '13:52:30' '13:59:40' '07:30:04' '09:57:03'
 '09:57:32' '09:59:13' '10:02:13' '11:28:44' '10:00:49' '09:57:07'
 '08:47:30' '08:40:21' '08:39:45' '08:50:56' '08:49:00' '08:44:27'
 '08:52:21' '08:44:04' '08:35:42' '06:33:58' '08:45:06' '11:16:27'
 '11:58:12' '08:45:11' '08:41:25' '08:41:30' '08:57:23' '13:21:33'
 '13:27:39' '10:23:53' '14:25:08' '09:17:32' '07:51:51' '07:41:08'
 '08:01:07' '08:35:14' '08:12:49' '08:13:24' '08:37:16' '08:37:32'
 '08:37:35' '09:27:48' '09:28:11' '09:28:14' '09:35:13' '07:58:24'
 '09:35:10' '08:30:18' '08:29:14' '09:50:19' '08:58:54' '09:36:53'
 '09:03:40' '09:48:20' '09:46:42' '09:02:22' '09:49:58' '09:04:11'
 '09:04:19' '08:41:29' '08:31:35' '09:47:06' '09:47:14' '08:31:38'
 '09:49:13' '09:54:09' '09:11:13' '09:09:55' '08:47:46' '09:11:37'
 '09:11:35' '09:54:26' '09:11:36' '10:20:42' '11:10:43' '08:31:54'
 '11:00:12' '11:15:05' '11:11:45' '11:08:27' '08:29:34' '08:30:38'
 '10:19:40' '10:18:30' '11:16:07' '10:22:49' '10:17:10' '10:36:29'
 '09:43:25' '10:23:51' '10:59:10' '11:09:30' '11:01:15' '10:21:44'
 '08:16:13' '08:16:08' '08:56:26' '10:49:41' '09:00:21' '09:01:02'
 '10:47:08' '11:12:51' '08:56:24' '11:10:41' '08:05:44' '08:04:21'
 '08:36:09' '09:01:22' '09:01:31' '08:28:23' '08:24:47' '08:39:59'
 '08:59:59' '09:43:47' '11:14:38' '10:47:49' '09:26:42' '09:27:08'
 '11:14:33' '09:24:04' '11:14:57' '12:22:50' '11:12:23' '08:34:29'
 '11:32:39' '11:33:46' '08:08:33' '08:59:55' '08:13:55' '09:00:10'
 '08:09:24' '09:00:15' '08:06:27' '09:01:20' '09:08:06' '08:06:36'
 '09:02:30' '09:05:19' '07:51:18' '10:26:24' '08:20:49' '08:22:57'
 '09:45:09' '07:52:58' '12:46:55' '08:20:42' '07:46:57' '07:46:29'
 '09:00:11' '08:19:55' '08:07:41' '08:07:58' '08:09:05' '08:10:20'
 '07:38:56' '08:08:54' '08:07:38' '09:37:12' '10:29:46' '10:30:56'
 '11:45:24' '10:34:03' '09:37:06' '08:32:26' '08:09:59' '07:13:10'
 '08:12:17' '09:36:26' '07:39:29' '08:27:00' '08:17:20' '07:24:24'
 '07:13:03' '07:21:25' '07:29:46' '08:33:54' '07:20:48' '07:21:23'
 '07:26:35' '14:29:38' '15:30:59' '10:23:18' '10:22:44' '09:19:27'
 '10:20:15' '08:03:15' '08:03:27' '11:11:38' '09:21:32' '08:03:06'
 '10:17:11' '10:19:05' '10:20:14' '08:03:32' '09:17:46' '09:21:29'
 '09:10:02' '04:59:37' '05:02:18' '05:00:58' '05:03:38' '08:36:12'
 '08:29:04' '07:47:13' '08:33:01' '08:34:50' '08:35:00' '08:29:01'
 '10:46:05' '08:31:19' '08:33:10' '08:29:44' '08:29:05' '09:17:03'
 '07:37:55' '07:42:08' '07:55:45' '14:11:40' '14:07:40' '13:25:58'
 '14:14:20' '14:05:00' '14:09:00' '14:03:41' '14:06:20' '14:13:00'
 '14:10:20' '13:19:52' '13:19:42' '08:31:21' '08:59:04' '08:31:28'
 '08:52:11' '09:00:57' '08:31:36' '08:59:11' '07:47:10' '12:55:23'
 '09:27:05' '08:39:42' '09:29:01' '09:26:43' '12:53:28' '09:28:20'
 '08:40:17' '09:26:31' '07:42:34' '09:26:36' '12:53:40' '08:26:23'
 '09:31:22' '10:22:14' '10:22:19' '09:28:01' '10:20:26' '09:06:56'
 '09:31:10' '09:27:40' '09:27:46' '09:27:56' '09:31:04' '09:27:42'
 '08:53:01' '08:12:25' '15:50:35' '08:26:26' '15:39:28' '15:48:29'
 '15:49:32' '12:39:51' '12:38:31' '12:31:49' '12:30:29' '12:29:08'
 '12:27:46' '12:37:11' '12:33:10' '12:35:50' '12:34:30' '07:57:57'
 '10:34:06' '10:34:12' '10:35:55' '09:18:14' '09:18:06' '10:34:31'
 '10:31:59' '10:32:04' '08:36:48' '09:23:39' '12:05:45' '12:04:25'
 '12:02:57' '12:01:30' '08:15:35' '11:13:01' '11:11:50' '11:06:38'
 '12:18:35' '11:11:37' '12:18:21' '11:11:05']

temp_city.loc[temp_city['Latitude'] <= 22, 'GeoZone'] = 'Low'

temp_city.loc[(temp_city['Latitude'] > 22) & (temp_city['Latitude'] <= 45), 'GeoZone'] = 'Medium'

temp_city.loc[temp_city['Latitude'] > 45, 'GeoZone'] = 'High'

In [39]:
df1 = df.copy()
df1['Hour'] = df1['Time'].apply(lambda x: int(x.split(':')[0]))

In [41]:
df1.loc[(df1['Hour'] >= 8) & (df1['Hour'] <= 18), 'Time_of_Day'] = 'Worktime'
df1.loc[(df1['Hour'] > 18) & (df1['Hour'] <= 24), 'Time_of_Day'] = 'Evening'
df1.loc[(df1['Hour'] < 8), 'Time_of_Day'] = 'Late'

In [42]:
df1.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Day_Number,Weekday,Hour,Time_of_Day
0,R232A,R176,03-06-00,33 ST,6,IRT,2017-12-23,20:00:00,REGULAR,102417472,68072550,5,Sat,20,Evening
1,R409,R449,01-00-02,E 149 ST,6,IRT,2017-12-23,08:00:00,REGULAR,1985376,6042304,5,Sat,8,Worktime
2,R256,R182,00-00-02,116 ST,6,IRT,2017-12-23,04:00:00,REGULAR,765700,471312,5,Sat,4,Late
3,R246,R177,00-03-02,68ST-HUNTER CO,6,IRT,2017-12-23,20:00:00,REGULAR,14882041,10581878,5,Sat,20,Evening
4,R227,R131,00-00-05,23 ST,6,IRT,2017-12-23,08:00:00,REGULAR,1524615,537740,5,Sat,8,Worktime

In [43]:
def DayTime(data_frame, column):
    #Extract the Hour from the Time Column
    data_frame['Hour'] = data_frame[column].apply(lambda x: int(x.split(':')[0]))
    #Use the Hour column to create a Column which distinguishes time of day
    data_frame.loc[(data_frame['Hour'] >= 8) & (data_frame['Hour'] <= 18), 'Time_of_Day'] = 'Worktime'
    data_frame.loc[(data_frame['Hour'] > 18) & (data_frame['Hour'] <= 24), 'Time_of_Day'] = 'Evening'
    data_frame.loc[(data_frame['Hour'] < 8), 'Time_of_Day'] = 'Late'
    
    return data_frame

In [44]:
df_working = DayTime(df_working, 'Time')

In [46]:
df_working.sample(20)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Day_Number,Weekday,Hour,Time_of_Day
343885,R232,R176,02-00-02,33 ST,6,IRT,2018-07-22,17:00:00,REGULAR,4879418,5559956,6,Sun,17,Worktime
279918,R420,R107,00-00-01,WESTCHESTER SQ,6,IRT,2018-06-14,00:00:00,REGULAR,11699329,10663645,3,Thu,0,Late
143209,R246,R177,00-03-03,68ST-HUNTER CO,6,IRT,2018-03-25,21:00:00,REGULAR,16575153,14735863,6,Sun,21,Evening
204020,R254,R181,01-00-00,110 ST,6,IRT,2018-04-30,16:00:00,REGULAR,2642242,1213678,0,Mon,16,Worktime
44310,R412,R146,00-06-00,HUNTS POINT AV,6,IRT,2018-01-18,12:00:00,REGULAR,1221,0,3,Thu,12,Worktime
23920,R242,R049,01-03-04,51 ST,6,IRT,2018-01-06,23:00:00,REGULAR,12495311,15164156,5,Sat,23,Evening
253459,R423,R429,00-00-03,PELHAM BAY PARK,6,IRT,2018-05-30,00:00:00,REGULAR,3287766,3397353,2,Wed,0,Late
546688,R417,R222,00-03-03,PARKCHESTER,6,IRT,2018-12-11,12:00:00,REGULAR,4503602,8092864,1,Tue,12,Worktime
414906,OB01,R459,00-03-01,ORCHARD BEACH,6,IND,2018-09-12,04:00:00,REGULAR,103,39,2,Wed,4,Late
109262,R256,R182,00-00-01,116 ST,6,IRT,2018-02-25,00:00:00,REGULAR,1755719,656740,6,Sun,0,Late
299397,R229,R143,01-00-04,28 ST,6,IRT,2018-06-25,21:00:00,REGULAR,11144112,8751799,0,Mon,21,Evening
163760,R422,R428,00-00-00,BUHRE AV,6,IRT,2018-04-06,13:00:00,REGULAR,686323,1564276,4,Fri,13,Worktime
301603,R406,R448,00-00-01,E 143/ST MARY'S,6,IRT,2018-06-27,01:00:00,REGULAR,682897,170386,2,Wed,1,Late
411500,R403,R446,01-00-02,BROOK AV,6,IRT,2018-09-09,17:00:00,REGULAR,2656460,11379893,6,Sun,17,Worktime
270274,R412,R146,00-00-02,HUNTS POINT AV,6,IRT,2018-06-09,17:00:00,REGULAR,2289717,775613,5,Sat,17,Worktime
357529,R219,R160,00-00-02,ASTOR PL,6,IRT,2018-07-31,17:00:00,REGULAR,16527710,1879114,1,Tue,17,Worktime
227528,R227,R131,00-05-01,23 ST,6,IRT,2018-05-14,13:00:00,REGULAR,2,330,0,Mon,13,Worktime
370168,R414,R162,00-05-01,ELDER AV,6,IRT,2018-08-08,13:00:00,REGULAR,1843,262,2,Wed,13,Worktime
390865,R421,R427,00-03-00,MIDDLETOWN RD,6,IRT,2018-08-21,09:00:00,REGULAR,2895008,1096962,1,Tue,9,Worktime
562411,R422,R428,00-05-01,BUHRE AV,6,IRT,2018-12-21,20:00:00,REGULAR,1,381,4,Fri,20,Evening