In [1]:
import sys
print("Python Version:", sys.version)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
pd.set_option('display.max_rows', 500)
%matplotlib inline

Python Version: 3.8.3 (default, Jul  2 2020, 11:26:31)
[Clang 10.0.0 ]

In [24]:
# yymmdd format
dates = ['190803',
        '190810',
        '190817',
        '190824',
        '190831',
        '190907',
        '190914',
        '190921',
        '190928']

# iterate through dates and pull in csv and cat dataframes together
df_turns = []
for date in dates:
    df_turns.append(pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_'+date+'.txt'))
    
# Concat all dataframes
df_turns = pd.concat(df_turns)

In [25]:
#Clean up the column Names
new_col_names = [name.strip() for name in df_turns.columns]
df_turns.columns = new_col_names

In [26]:
# Remove audited rows
df_turns=df_turns[df_turns.DESC!='RECOVR AUD']
# remove column?
del df_turns['DESC']

In [27]:
# Create a DateTime column that can be used for timeseries
df_turns.loc[:,'DATETIME'] = pd.to_datetime(df_turns['DATE'] + ' ' + df_turns['TIME'])

#Convert Date column to proper date type.
df_turns['DATE']  = pd.to_datetime(df_turns['DATE'],format='%m/%d/%Y')

#convert time to datetime type
df_turns['TIME']=pd.to_datetime(df_turns['TIME'], format='%H:%M:%S')

In [28]:
#backup
df_backup=df_turns.copy()

In [29]:
#Sort in order of datetime
df_turns = df_turns.sort_values(by=['DATETIME']).reset_index()

In [30]:
# Caluclate Entries Aggregated at station level by DateTime
df_turns['Entry_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['ENTRIES'].transform(pd.Series.diff)['ENTRIES']

# Caluclate Exits Aggregated at station level by DateTime
df_turns['Exit_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['EXITS'].transform(pd.Series.diff)['EXITS']

In [31]:
#Absolute Value to deal with counting backward issues 
df_turns['Entry_Diff'] = abs(df_turns['Entry_Diff'])
df_turns['Exit_Diff']=abs(df_turns['Exit_Diff'])

# Calculate both
df_turns['Total_Traffic']=df_turns['Entry_Diff']+df_turns['Exit_Diff']

In [34]:
# I think we can use this as a cut off point for station traffic totals.
#df_turns.groupby(['STATION'])['Total_Traffic'].quantile(.99)
df_turns.sample()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Entry_Diff,Exit_Diff,Total_Traffic
1137499,79520,N309A,R140,00-02-00,QUEENS PLAZA,EMR,IND,2019-09-03,1900-01-01 17:00:00,51379644,17219520,2019-09-03 17:00:00,280.0,77.0,357.0

### ==================================================================
### Rami's Input where I remove the Outliers

In [36]:
def Add_Weekday(data_frame, column='Date'):
    dmap = {0:'Mon', 1: 'Tue', 2: 'Wed', 3:'Thu', 4:'Fri', 5:'Sat', 6:'Sun'}
    #Convert column to date
    data_frame[column] = pd.to_datetime(data_frame[column])
    #Add column which shows the Weekday in integer
    data_frame['Day_Number'] = data_frame[column].apply(lambda x: x.dayofweek)
    #Add column which shows the Weekday in words
    data_frame['Weekday'] = data_frame['Day_Number'].map(dmap)
    return data_frame
df_turns_backup2 = df_turns.copy()

In [37]:
df_turns = Add_Weekday(df_turns, 'DATE')

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Entry_Diff,Exit_Diff,Total_Traffic,Day_Number,Weekday
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01,7148288,2418935,2019-07-27,NaN,NaN,NaN,5,Sat
1,112391,N605,R024,00-05-01,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,0,1168,2019-07-27,NaN,NaN,NaN,5,Sat
2,112349,N605,R024,00-05-00,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,33556743,16777216,2019-07-27,NaN,NaN,NaN,5,Sat
3,198692,R612,R057,01-03-03,ATL AV-BARCLAY,BDNQR2345,IRT,2019-07-27,1900-01-01,2120496,1957954,2019-07-27,NaN,NaN,NaN,5,Sat
4,112307,N605,R024,00-00-06,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,5050187,2146519,2019-07-27,NaN,NaN,NaN,5,Sat

In [38]:
#Filter out the Null Values
df_turns.dropna(subset=["Entry_Diff","Exit_Diff",'Total_Traffic'], axis=0, inplace=True)
df_turns.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Entry_Diff,Exit_Diff,Total_Traffic,Day_Number,Weekday
2554,118307,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:24:57,65,30,2019-07-27 00:24:57,2.0,0.0,2.0,5,Sat
2592,118308,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:38:57,65,30,2019-07-27 00:38:57,0.0,0.0,0.0,5,Sat
2636,118309,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:52:57,65,30,2019-07-27 00:52:57,0.0,0.0,0.0,5,Sat
2640,118310,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:56:25,4043,3513,2019-07-27 00:56:25,3978.0,3483.0,7461.0,5,Sat
4489,118311,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 01:06:57,65,30,2019-07-27 01:06:57,3978.0,3483.0,7461.0,5,Sat

In [39]:
dfc_grouped = df_turns.groupby(['DATE', 'STATION', 'Weekday'])['Entry_Diff', 'Exit_Diff', 'Total_Traffic'].sum().reset_index()

<ipython-input-39-41ea38c374a6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dfc_grouped = df_turns.groupby(['DATE', 'STATION', 'Weekday'])['Entry_Diff', 'Exit_Diff', 'Total_Traffic'].sum().reset_index()

In [46]:
#The upper_quant_df outputs a dataframe of the upper 95% values for each station
upper_quant_df = dfc_grouped.groupby(['STATION'])['Total_Traffic'].quantile([.95]).reset_index()
#Then I merge it with the grouped data 
df_turns_no_outlier = dfc_grouped.merge(upper_quant_df, on='STATION')
df_turns_no_outlier.head()

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y
0,2019-07-27,1 AV,Sat,4308.0,5146.0,9454.0,0.95,40228.0
1,2019-07-28,1 AV,Sun,4106.0,5309.0,9415.0,0.95,40228.0
2,2019-07-29,1 AV,Mon,14483.0,16525.0,31008.0,0.95,40228.0
3,2019-07-30,1 AV,Tue,16375.0,18206.0,34581.0,0.95,40228.0
4,2019-07-31,1 AV,Wed,16812.0,19777.0,36589.0,0.95,40228.0

In [49]:
#delete the rows where The difference between Total_Traffic_y and Total_Traffic_x < 0
df_turns_no_outlier['Diff'] = df_turns_no_outlier['Total_Traffic_y'] - df_turns_no_outlier['Total_Traffic_x']
df_turns_no_outlier = df_turns_no_outlier[df_turns_no_outlier['Diff']>= 0]

In [50]:
df_turns_no_outlier.sample(50)

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y,Diff
7570,2019-08-12,AQUEDUCT N.COND,Mon,846.0,1586.0,2432.0,0.95,2987.3,555.3
19902,2019-08-04,PELHAM BAY PARK,Sun,4068.0,2902.0,6970.0,0.95,12351.7,5381.7
20216,2019-08-03,PROSPECT AV,Sat,6842.0,4687.0,11529.0,0.95,22427.4,10898.4
13114,2019-08-13,EASTN PKWY-MUSM,Tue,3024.0,3166.0,6190.0,0.95,8391.2,2201.2
218,2019-08-25,104 ST,Sun,742.0,334.0,1076.0,0.95,7027.6,5951.6
2491,2019-08-30,20 AV,Fri,8243.0,4277.0,12520.0,0.95,15539.4,3019.4
21630,2019-08-31,STEINWAY ST,Sat,6533.0,6126.0,12659.0,0.95,26987.0,14328.0
11961,2019-09-26,CONEY IS-STILLW,Thu,13859.0,12188.0,26047.0,0.95,36632.0,10585.0
14660,2019-09-16,GRD CNTRL-42 ST,Mon,143003.0,147084.0,290087.0,0.95,2310450.7,2020363.7
19789,2019-08-17,PATH WTC 2,Sat,1312.0,3302.0,4614.0,0.95,17942.2,13328.2
13633,2019-08-28,FLUSHING-MAIN,Wed,57586.0,52547.0,110133.0,0.95,116819.3,6686.3
9012,2019-08-05,BEACH 44 ST,Mon,723.0,838.0,1561.0,0.95,1705.9,144.9
4673,2019-08-07,4AV-9 ST,Wed,8284.0,5887.0,14171.0,0.95,16774.0,2603.0
20212,2019-07-30,PROSPECT AV,Tue,12103.0,7129.0,19232.0,0.95,22427.4,3195.4
20439,2019-09-06,QUEENSBORO PLZ,Fri,16092.0,5123.0,21215.0,0.95,21648.4,433.4
4917,2019-07-30,50 ST,Tue,49548.0,41001.0,90549.0,0.95,99364.1,8815.1
14880,2019-08-15,HALSEY ST,Thu,13483.0,7198.0,20681.0,0.95,23816.8,3135.8
4448,2019-09-03,46 ST,Tue,7967.0,6246.0,14213.0,0.95,16962.3,2749.3
4235,2019-08-10,42 ST-BRYANT PK,Sat,21867.0,22879.0,44746.0,0.95,96452.4,51706.4
15013,2019-08-22,HARRISON,Thu,9100.0,9018.0,18118.0,0.95,21161.8,3043.8
16612,2019-09-18,KINGSTON AV,Wed,5302.0,4427.0,9729.0,0.95,9803.3,74.3
12035,2019-08-05,CORTLANDT ST,Mon,22421.0,16567.0,38988.0,0.95,41184.1,2196.1
22157,2019-09-23,TOMPKINSVILLE,Mon,743.0,0.0,743.0,0.95,834.4,91.4
20810,2019-08-30,ROCKAWAY BLVD,Fri,7150.0,2099.0,9249.0,0.95,10994.3,1745.3
8935,2019-09-23,BEACH 25 ST,Mon,1906.0,1930.0,3836.0,0.95,4362.4,526.4
16779,2019-08-27,KOSCIUSZKO ST,Tue,5385.0,1865.0,7250.0,0.95,8459.6,1209.6
12498,2019-08-27,DEKALB AV,Tue,30367.0,10666.0,41033.0,0.95,50316.9,9283.9
1988,2019-08-31,18 AV,Sat,9112.0,5991.0,15103.0,0.95,24732.5,9629.5
9451,2019-08-03,BEDFORD-NOSTRAN,Sat,5808.0,3771.0,9579.0,0.95,15425.0,5846.0
3284,2019-08-04,28 ST,Sun,17888.0,16753.0,34641.0,0.95,99685.9,65044.9
10754,2019-09-16,BURNSIDE AV,Mon,11114.0,5726.0,16840.0,0.95,17842.9,1002.9
8274,2019-08-23,AVENUE P,Fri,2110.0,874.0,2984.0,0.95,3996.4,1012.4
328,2019-08-09,111 ST,Fri,15343.0,8972.0,24315.0,0.95,27323.1,3008.1
8196,2019-08-08,AVENUE N,Thu,2892.0,1047.0,3939.0,0.95,4665.6,726.6
10792,2019-08-22,BUSHWICK AV,Thu,1862.0,1481.0,3343.0,0.95,3938.7,595.7
9482,2019-09-03,BEDFORD-NOSTRAN,Tue,8331.0,4597.0,12928.0,0.95,15425.0,2497.0
4257,2019-09-01,42 ST-BRYANT PK,Sun,15820.0,16670.0,32490.0,0.95,96452.4,63962.4
21585,2019-09-18,ST. GEORGE,Wed,15681.0,0.0,15681.0,0.95,15704.4,23.4
1735,2019-08-30,174 ST,Fri,6196.0,5960.0,12156.0,0.95,14420.2,2264.2
6165,2019-09-22,72 ST,Sun,37368.0,35181.0,72549.0,0.95,670255.8,597706.8
8655,2019-08-26,BAY RIDGE AV,Mon,6402.0,3256.0,9658.0,0.95,14079.7,4421.7
16174,2019-09-21,JKSN HT-ROOSVLT,Sat,38624.0,35225.0,73849.0,0.95,141758.4,67909.4
17410,2019-08-28,MARCY AV,Wed,14203.0,11142.0,25345.0,0.95,29603.6,4258.6
5774,2019-09-09,66 ST-LINCOLN,Mon,21284.0,20510.0,41794.0,0.95,52984.0,11190.0
19479,2019-08-22,PARK PLACE,Thu,4603.0,4260.0,8863.0,0.95,10628.4,1765.4
14500,2019-08-13,GRAND-NEWTOWN,Tue,17069.0,9708.0,26777.0,0.95,30950.2,4173.2
18951,2019-09-26,NEWKIRK AV,Thu,7935.0,4917.0,12852.0,0.95,12914.6,62.6
21553,2019-08-17,ST. GEORGE,Sat,4791.0,0.0,4791.0,0.95,15704.4,10913.4
16946,2019-08-05,LEXINGTON AV/53,Mon,39330.0,43020.0,82350.0,0.95,95304.4,12954.4
9721,2019-08-21,BLEECKER ST,Wed,13896.0,5456.0,19352.0,0.95,23503.1,4151.1

### ==================================================================

In [77]:
# Filter out values in calculated fields outside of upper quartile range
df_turns.dropna(subset=["Entry_Diff","Exit_Diff",'Total_Traffic'], axis=0, inplace=True)

q_9 = df_turns['Total_Traffic'].quantile(.99)

df_turns_filt = df_turns[df_turns.Total_Traffic<= q_9]

In [78]:
df_per_station = df_turns_filt.groupby(['STATION']).sum()
df_per_station.sort_values('Total_Traffic', ascending=False).head(100)

,index,ENTRIES,EXITS,Entry_Diff,Exit_Diff,Total_Traffic
STATION,,,,,,
34 ST-PENN STA,3401972217,1460365699649,1538055094977,8254361.0,6992507.0,15246868.0
GRD CNTRL-42 ST,3752729625,919546458460,1105055715021,5679047.0,4802427.0,10481474.0
23 ST,2607575657,2091252915203,1812031229789,5750528.0,4288698.0,10039226.0
FULTON ST,3245309619,1787737426085,1745103246838,5078558.0,4419547.0,9498105.0
34 ST-HERALD SQ,1402968886,1646402859827,2064647805215,4784950.0,4558398.0,9343348.0
TIMES SQ-42 ST,2162196120,2135387457561,1652034183983,4821028.0,4298798.0,9119826.0
42 ST-PORT AUTH,975287980,2571982579745,2230353121601,5268731.0,3669247.0,8937978.0
14 ST-UNION SQ,787362551,88115964177,57426714905,3903559.0,3995590.0,7899149.0
86 ST,2581504936,599888099997,877774250646,4261140.0,3569073.0,7830213.0
125 ST,1950357794,2515036418386,1554869348054,4047442.0,3446371.0,7493813.0
CANAL ST,813177092,1428212221542,1941486599769,4034041.0,3356477.0,7390518.0
59 ST COLUMBUS,1231775309,1166698813254,1039583647763,3116851.0,2848911.0,5965762.0
14 ST,1832577049,1457105648814,1101069067812,3053203.0,2853952.0,5907155.0
59 ST,1982394511,992365541308,685791141533,3121331.0,2699568.0,5820899.0
FLUSHING-MAIN,1930294559,76746016256,73145613777,3054163.0,2716933.0,5771096.0
96 ST,1765933227,352219540398,66213302720,3207944.0,2520844.0,5728788.0
CHAMBERS ST,1404701860,1765613988442,1412673767255,2865730.0,2276492.0,5142222.0
PATH NEW WTC,2011879675,1187142313,1052209663,2441031.0,2261243.0,4702274.0
50 ST,1264155498,189393094616,177753813637,2596331.0,2065446.0,4661777.0
28 ST,1696136869,484894334815,612992847563,2402409.0,2188947.0,4591356.0
72 ST,1266283416,337127804104,731646791634,2403795.0,2139491.0,4543286.0
47-50 STS ROCK,1206642931,696606371541,686238464033,2022054.0,2278500.0,4300554.0
ATL AV-BARCLAY,2956856451,351346137622,101940725195,2256119.0,1924887.0,4181006.0
WALL ST,2703251528,224199941846,138887087207,2172821.0,1888467.0,4061288.0
JKSN HT-ROOSVLT,593706956,53701033754,38326939944,2311888.0,1617279.0,3929167.0
7 AV,596419019,32046472218,35007644077,2054629.0,1797331.0,3851960.0
LEXINGTON AV/53,928074423,977555940730,1257220661094,1800579.0,1861628.0,3662207.0
JAY ST-METROTEC,710502201,207504092248,31301074597,2068816.0,1451451.0,3520267.0
145 ST,788322046,342463194358,711082149321,1839219.0,1646727.0,3485946.0
W 4 ST-WASH SQ,382425407,90505049196,37165072342,1953895.0,1498240.0,3452135.0
42 ST-BRYANT PK,706607828,681355462724,494703528396,1744427.0,1701929.0,3446356.0
8 AV,269117849,56910214821,29616779477,1856980.0,1488723.0,3345703.0
CHURCH AV,1266219740,472794406234,650895278840,1879374.0,1388611.0,3267985.0
JAMAICA CENTER,882824262,493889674624,36191634598,1698774.0,1512468.0,3211242.0
77 ST,962970571,109117031238,46577583096,1615598.0,1430246.0,3045844.0
72 ST-2 AVE,714945294,52145996785,7379064051,1567189.0,1372522.0,2939711.0
BOWLING GREEN,1630451850,901295389274,605951737179,1551370.0,1295857.0,2847227.0
KINGS HWY,493853611,817426138806,784118495913,1485820.0,1339332.0,2825152.0
B'WAY-LAFAYETTE,758801650,755232826127,613712324018,1208551.0,1611161.0,2819712.0
57 ST-7 AV,9302699,674659697495,485249321036,1568946.0,1233408.0,2802354.0
BOROUGH HALL,1643786326,70660716473,19049906325,1677774.0,1096173.0,2773947.0
116 ST,1120783785,159423041519,156095258283,1704533.0,1049011.0,2753544.0
DELANCEY/ESSEX,487843105,27724247161,23831213945,1543765.0,1202210.0,2745975.0
103 ST,853814007,58849995698,49721589588,1547973.0,1141211.0,2689184.0
33 ST,1312343465,581248388757,626015961142,1488679.0,1177268.0,2665947.0
161/YANKEE STAD,1705279733,842653751024,729984392781,1628206.0,964268.0,2592474.0
GRAND ST,359378168,116165219638,540658948791,1462471.0,1127348.0,2589819.0
SUTPHIN-ARCHER,528558491,58940929571,31654951818,1336337.0,1158171.0,2494508.0
CROWN HTS-UTICA,1344839250,88118876505,34829829667,1383351.0,1102946.0,2486297.0
JOURNAL SQUARE,893622148,586748174,572442991,1324713.0,1149617.0,2474330.0
GROVE STREET,828861809,462633335,483390982,1168217.0,1218404.0,2386621.0
KEW GARDENS,662618256,43180982317,37202926152,1198036.0,1174441.0,2372477.0
DEKALB AV,186981647,2051553789524,1472006380259,1681650.0,613976.0,2295626.0
34 ST-HUDSON YD,2160363632,7718268952,5902600432,1148873.0,1106629.0,2255502.0
5 AV/53 ST,608500100,38369685457,42051861815,1243340.0,982116.0,2225456.0
THIRTY THIRD ST,775031598,497767017,330601645,1324823.0,895941.0,2220764.0
181 ST,368701716,37755000970,35528318354,1126581.0,1082753.0,2209334.0
86 ST-2 AVE,630677636,21401667416,24149530089,1288658.0,903055.0,2191713.0
51 ST,1295380049,91207603519,100952473305,1036101.0,1136747.0,2172848.0
49 ST,16970920,33028979583,33700193681,1226638.0,938133.0,2164771.0
JUNCTION BLVD,842567435,23018684455,27137423158,1188578.0,942390.0,2130968.0
FOREST HILLS 71,742179561,117600729063,27802561297,1393139.0,733768.0,2126907.0
66 ST-LINCOLN,1220933791,115691198724,22585161758,1050384.0,1013557.0,2063941.0
SPRING ST,537115763,141973660872,46059771959,1234190.0,824569.0,2058759.0
LEXINGTON AV/63,771542338,631542644973,28179314655,1047812.0,997097.0,2044909.0
WOODHAVEN BLVD,468270505,38936605036,17472021672,1272266.0,748222.0,2020488.0
68ST-HUNTER CO,849206426,27886921285,22666420440,1050976.0,959828.0,2010804.0
61 ST WOODSIDE,861900206,726458328480,829248670002,958950.0,1025559.0,1984509.0
NOSTRAND AV,386162853,13303212260,12542935818,1095766.0,881840.0,1977606.0
103 ST-CORONA,639610659,27411991367,27396083030,1117818.0,845371.0,1963189.0
FRANKLIN AV,814342935,258917944195,845939155184,1138226.0,811053.0,1949279.0
WHITEHALL S-FRY,61104585,106610523870,28696023185,995305.0,942816.0,1938121.0
CORTLANDT ST,136542660,1015708848673,361087190084,1091431.0,825811.0,1917242.0
BROOKLYN BRIDGE,977067943,190246267506,253476281677,1029338.0,855360.0,1884698.0
PAVONIA/NEWPORT,453405005,420427403,432869332,933251.0,927876.0,1861127.0
82 ST-JACKSON H,699507177,13021960673,8765479442,860600.0,998274.0,1858874.0
96 ST-2 AVE,698469352,5937591188,4383325134,1049472.0,779227.0,1828699.0
CONEY IS-STILLW,228124981,253108042753,128808150944,1014593.0,805699.0,1820292.0
EXCHANGE PLACE,896983237,399434036,407371377,886799.0,931441.0,1818240.0
BEDFORD AV,131568484,33889484480,33648447180,1149054.0,655011.0,1804065.0
ASTOR PL,696566941,14450681355,12195362958,852847.0,927130.0,1779977.0
COURT SQ,1117057382,1081852477920,489334462369,850174.0,879724.0,1729898.0
2 AV,384629117,51134946575,35113312572,893803.0,828309.0,1722112.0
WORLD TRADE CTR,412719876,618565498581,712752661601,967465.0,753837.0,1721302.0
FORDHAM RD,668640449,18934407617,8694278508,1197135.0,504967.0,1702102.0
ASTORIA DITMARS,551998332,12628375537,9792373171,938649.0,738378.0,1677027.0
CHRISTOPHER ST,475541665,15653774413,8196809288,858509.0,798620.0,1657129.0
CITY / BUS,967547970,344748758,344177473,849426.0,806315.0,1655741.0
167 ST,447829353,1393505538823,1034689579987,952240.0,702296.0,1654536.0
UTICA AV,326978338,78643221378,22466422115,895941.0,744567.0,1640508.0
PARKCHESTER,808921826,100949365831,122892830681,733126.0,887272.0,1620398.0
CATHEDRAL PKWY,506564884,42275283947,60859425570,1044301.0,552563.0,1596864.0
BROADWAY,593083642,32307514831,17164815536,840863.0,748623.0,1589486.0
3 AV-149 ST,971859760,732699775466,544031751332,1096117.0,492139.0,1588256.0
SOUTH FERRY,1042922627,60976585255,9946006199,896542.0,681447.0,1577989.0
JAMAICA 179 ST,858095897,524386996805,139498903776,1107629.0,469348.0,1576977.0
FLATBUSH AV-B.C,1569727832,1108909123104,814277086540,964787.0,611783.0,1576570.0
36 ST,349687894,59042657476,13329543382,942977.0,619471.0,1562448.0
MYRTLE-WYCKOFF,168860931,652998349269,225825001703,976231.0,581341.0,1557572.0
KINGSBRIDGE RD,663516674,578770624824,650985057495,901980.0,650286.0,1552266.0